html,
body {
  margin: 0;
  height: 100%;
  background-color: rgb(61, 61, 231) !important;
}

.global-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  box-shadow: 2px 2px black;
}

.login {
  font-family: 'Segoe UI';
  width: 380px;
  height: 450px;
  padding: 20px;
  background-color: black !important;
  border-radius: 10px !important;
}

input[type='email'],
input[type='password'],
input[type='username'] {
  background-color: white;
  color: black;
  border: 2px solid black !important;
  box-shadow: 1px 1px !important;
}

input[type='email']:focus,
input[type='password']:focus input[type='username']:focus {
  outline: none;
  border: none;
  background: white;
  color: #191919;
  margin: 0;
}

.card-title {
  font-family: 'Segoe UI';
  font-weight: bold;
  padding-top: 20px;
  transform: translateY(10px);
  border-radius: 10px !important;
}

.alternatif {
  text-align: center;
  font-family: 'Segoe UI';
  font-weight: bold;
  padding-top: 10px;
  justify-content: center;
}
